*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}
html,body{
    min-width: 1200px;
    background: #ffffff;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: block;
}
header{
    width: 100%;
    height: 100px;
    background: #dddddd;
}
.wrap{
    width: 1200px;
}
.logo{
    float: left;
    width: 250px;
    height: 100px;
}
.menu{
    float: right;
    width: 800px;
    height: 100px;
    z-index: 1;
}
.navi{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.navi>li{
    float: left;
}
.navi>li>a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background: #333;
    color: #fff;
}
.navi>li>a:hover{
    background: #30a3f3;
}
.submenu{
    width: 180px;
    height: 160px;
    position: absolute;
    /* display: none; */
    z-index: 1;
    background: rgba(128, 128, 0, 0.5);
}
.submenu>li>a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
.submenu>li>a:hover{
    background: #fff;
}
.bodywrap{
    width: 1200px;
    height: 500px;
}
.imgslide{
    width: 1200px;
    height: 300px;
}
.contents{
    float: left;
    width: 1200px;
    height: 200px;
}
.tabmenu{
    float: left;
    width: 400px;
    height: 200px;
}
.otherwrap{
    float: right;
    width: 800px;
    height: 200px;
}
.banner{
    float: left;
    width: 400px;
    height: 200px;
}
.shortcut{
    float: right;
    width: 400px;
    height: 200px;
}
footer{
    width: 100%;
    height: 100px;
    background: #30a3f3;
}
.btlogo{
    float: left;
    width: 250px;
    height: 100px;
}
.site{
    float: right;
    width: 600px;
    height: 100px;
}
.btmenu{
    width: 600px;
    height: 50px;
}
.copy{
    width: 600px;
    height: 50px;
}