@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

html,
body {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background: skyblue;
}

.wrap {
    width: 1200px;
}

.logo {
    float: left;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.menu {
    float: right;
    width: 1000px;
    height: 100px;
}

.main {
    width: 800px;
    margin-top: 60px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.main li {
    float: left;
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.main>li>a {
    background: black;
}

.main a:hover {
    background: white;
    color: black;
}

.sub {
    display: none;
}

.m {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 160px;
    z-index: 1;
    left: 0;
    top: 100px;
    display: none;
}

.imgslide {
    width: 1200px;
    height: 300px;
}

.imgslide a {
    position: absolute;
}

.imgslide img {
    width: 1200px;
    height: 300px;
    object-fit: cover;
}

.imgslide span {
    position: absolute;
    width: 400px;
    line-height: 50px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 200px;
    margin-left: 50px;
}

.contents {
    width: 1200px;
    height: 200px;
}

.c_title {
    float: left;
    width: 100px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.c1 {
    float: left;
    width: 400px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.c2 {
    float: left;
    width: 390px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.c3 {
    float: left;
    width: 390px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: skyblue;
    text-align: center;
    line-height: 180px;
    font-size: 20px;
}

.notice {
    float: left;
    width: 400px;
    height: 142px;
    margin-top: 5px;
    line-height: 35px;
    border: 3px solid skyblue;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.notice li:hover {
    font-weight: bold;
}

.notice span {
    float: right;
}

.notice li:nth-child(2n) {
    background: gainsboro;
}

.gallery {
    float: left;
    width: 390px;
    height: 142px;
    margin-top: 5px;
    border: 3px solid skyblue;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.gallery img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.gallery li {
    float: left;
    margin-left: 7px;
    margin-top: 10px;
}

.gallery li:hover {
    opacity: 0.5;
}

footer {
    width: 100%;
    height: 100px;
    background: gray;
}