@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
    display: block;
}
.all{
    width: 1200px;
    height: 700px;
}
.header{
    width: 100%;
    height: 100px;
}
.logo{
    float: left;
    width: 200px;
    height: 100px;
    background: tomato;
}
.menu{
    float: left;
    width: 1000px;
    height: 100px;
    background: yellowgreen;
}
.main{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: 600px;
    height: 40px;
    text-align: center;
}
.main > li{
    float: left;
    position: relative;
}
.main > li > a{
    width: 150px;
    height: 50px;
    line-height: 50px;
    background: ivory;
    /* cursor: pointer; */
}
.main > li> a:hover{
    background: pink;
}
.sub{
    width: 150px;
    display: none;
}
.sub > li > a{
    float: left;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: pink;

}
.sub > li > a:hover{
    background: white;
}
.banner{
    width: 100%;
    height: 400px;
    background: ivory;
}
.imgslide{
    text-align: center;
    width: 1200px;
    height: 400px;
    overflow: hidden;
}
.slidelist{
    width: 3600px;
}
.slidelist ul li{
    width: 1200px;
    float: left;
}
.contents{
    width: 100%;
    height: 200px;
}
.c1{
    float: left;
    width: 500px;
    height: 200px;
}
.tab{
    float: left;
    width: 395px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 30px;
}
.tab>li{
    float: left;
    width: 100px;
    height: 30px;
}
.tab>li>a{
    display: block;
    text-align: center;
    background: white;
    border: 1px solid #333;
}
.tab>li>a:hover{
    background: turquoise;
}
.tab>li:first-child a{
    border-right: none;
}
.tab>li.active>a{
    background: ivory;
}
.tab>li div{
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
}
.tab>li.active div{
    width: 393px;
    height: 148px;
    border: 1px solid #333;
}
.notice ul{
    margin-top: 12px;
    margin-bottom: 12px;
}
.notice li{
    height: 32px;
    line-height: 32px;
    margin-left: 12px;
    margin-right: 12px;
}
.notice li:nth-child(2n){
    background: turquoise;    
}
.notice span{
    float: right;
}
.notice li:hover{
    font-weight: bold;
}
.gallery li{
    float: left;
    text-align: center;
    line-height: 90px;
    margin-top: 15px;
    margin-left: 5px;
    width: 100px;
    height: 100px;
    padding: 10px;
    background: turquoise;
}
.gallery li:hover{
    opacity: 0.5;
}
.c2{
    float: left;
    width: 500px;
    height: 200px;
    background: rgb(81, 206, 255);
}
.c3{
    float: left;
    width: 200px;
    height: 200px;
    background: rgb(41, 194, 255);
}
.footer{
    width: 100%;
    height: 100px;
}
.footer-logo{
    float: left;
    width: 200px;
    height: 100px;
    background: turquoise;
}
.footer-sub{
    float: left;
    width: 1000px;
    height: 100px;
}
.footer-menu{
    float: left;
    width: 1000px;
    height: 50px;
    background: pink;
}
.footer-copy{
    float: left;
    width: 1000px;
    height: 50px;
    background: hotpink;
}
