@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
}
a{
    text-decoration: none;
    display: block;
}
.all{
    width: 1200px;
    height: 700px;
}
.header{
    width: 100%;
    height: 100px;
}
.logo{
    float: left;
    width: 250px;
    height: 100%;
    text-align: center;
}
.logo img{
    margin-top: 20px;
}
.menu{
    float: right;
    width: 950px;
    height: 100%;
    position: relative;
    z-index: 1;
}
.navi{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
.navi > li{
    float: left;
}
.navi > li > a{
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    background: #5e1742;
    color: white;
    text-align: center;
}
.navi > li > a:hover{
    background: yellow;
    color: #333;
}
.sub{
    text-align: center;
    width: 150px;
    height: 180px;
    line-height: 40px;
    background: #c9463d;
    display: none;
}
.sub > li > a{
    color: white;
}
.sub > li > a:hover{
    background: yellow;
    color: #333;
}
.banner{
    width: 100%;
    height: 300px;
}
.contents{
    width: 100%;
    height: 200px;
}
.c1{
    float: left;
    width: 400px;
    height: 100%;
}
.c2{
    float: left;
    width: 400px;
    height: 100%;
}
.c3{
    float: left;
    width: 400px;
    height: 100%;
}
.footer{
    width: 100%;
    height: 100px;
    background: #5e1742;
}
.f1{
    float: left;
    width: 300px;
    height: 100%;
}
.f2{
    float: left;
    width: 600px;
    height: 100%;
    color: #fff;
    margin-top: 25px;
    left: 50px;
    position: relative;
}
.f3{
    float: right;
    width: 200px;
    height: 100%;
}
.imgslide{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.imgslide>a{
    display: block;
    position: absolute;
}
.imgslide span{
    position: absolute;
    width: 400px;
    height: 50px;
    background: rgba(255, 255, 255, 0.692);
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 140px;
    margin-left: 400px;
}
.tabmenu{
    float: left;
    height: 180px;
    width: 395px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
}
.tabmenu>li{
    float: left;
    width: 100px;
    line-height: 30px;
}
.tabmenu>li>a{
    display: block;
    font-size: 16px;
    text-align: center;
    background: #ccc;
    border: 1px solid #ddd;
}
.tabmenu>li>a:hover{
    background: #eee;
}
.tabmenu>li:first-child a{
    border-right: none;
}
.tabmenu>li.active>a{
    background: wheat;
}
.tabmenu>li div{
    position: absolute;
    left: 0px;
    height: 0px;
    overflow: hidden;
    top: 30px;
}
.tabmenu>li.active div{
    width: 393px;
    height: 148px;
    border: 1px solid #ddd;
    z-index: 1;
}
.notice ul{
    float: left;
    width: 393px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.notice li{
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.notice li:nth-child(2n){
    background: #ccc;
}
.notice span{
    float: right;
}
.notice li:hover{
    font-weight: bold;
}
.gallery li{
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}
.gallery img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
.gallery li:hover{
    opacity: 0.5;
}
.c2 img{
    width: 395px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.c3 img{
    width: 400px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.c2 img:hover{
    opacity: 0.5;
}
.c3 img:hover{
    opacity: 0.5;
}
.sctext{
    position: absolute;
    width: 200px;
    height: 30px;
    background: white;
    text-align: center;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 100px;
}
.bntext{
    position: absolute;
    width: 200px;
    height: 30px;
    background: white;
    text-align: center;
    line-height: 30px;
    margin-top: 80px;
    margin-left: 100px;
}
.f1 img{
    float: left;
    height: 50px;
    width: 200px;
    margin-top: 25px;
    margin-left: 15px;
}
.f3 li{
    display: inline-block;
}
.f3 img{
    margin-top: 25px;
    height: 45px;
    width: 45px;
    padding: 5px;
}
.f3 img:hover{
    opacity: 0.5;
}
#modal{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}
#modal.active{
    display: block;
}
.modal_up{
    width: 500px;
    height: 400px;
    position: fixed;
    left: 0px;
    top: 20%;
    border: 3px solid #5e1742;
    background-color: #fff;
    position: relative;
}
.uptitle{
    margin-top: 30px;
    text-align: center;
    line-height: 16px;
    font-size: 20px;
    font-weight: bold;
}
.upbody{
    padding: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.btn{
    width: 80px;
    height: 20px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    background: #5e1742;
}