@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
}
a{
    text-decoration: none;
    display: block;
}
.box{
    width: 1000px;
    height: 650px;
}
.left_box{
    float: left;
    width: 200px;
    height: 100%;
    position: absolute;
}
.logo{
    width: 200px;
    height: 100px;
    background: hotpink;
}
.navi{
    width: 200px;
    height: 550px;
    background: blue;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.right_box{
    float: right;
    width: 800px;
    height: 100%;
}
.slide{
    width: 800px;
    height: 350px;
    background: ivory;
}
.contents{
    width: 800px;
    height: 200px;
}
.notice_box{
    float: left;
    width: 280px;
    height: 100%;
    background: gainsboro;
}
.banner_box{
    float: left;
    width: 280px;
    height: 100%;
    background: rgba(220, 220, 220, 0.7);
}
.icon_box{
    float: left;
    width: 240px;
    height: 100%;
    background: rgba(220, 220, 220, 0.4);
}
.footer{
    width: 800px;
    height: 100px;
}
.down_logo{
    float: left;
    width: 200px;
    height: 100%;
    background: hotpink;
}
.copyright{
    float: right;
    width: 600px;
    height: 100%;
}
.down_menu{
    width: 100%;
    height: 50px;
    background: blue;
}
.copy{
    width: 100%;
    height: 50px;
    background: gray;
}
.main{
    position: relative;
    top: 20px;
}
.main > li{
    width: 180px;
}
.main > li > a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    background: gainsboro;
}
.main > li > a:hover{
    background: hotpink;
    color: white;
}
.sub{
    width: 180px;
    height: 200px;
    position: absolute;
    left: 190px;
    top: -20px;
    z-index: 1;
    display: none;
}
.sub > li > a{
    width: 180px;
    height: 50px;
    line-height: 50px;
    background: rgba(255, 105, 180, 0.5);
}
.sub > li > a:hover{
    font-weight: bold;
    background: hotpink;
    color: white;
}