*{
    margin: 0 auto;
    padding: 0;
}
body{
    width: 1200px;
    color: white;
}
header{
    width: 1200px;
    height: 100px;
    float: left;
    background: #00000050;
}
.logo{
    width: 250px;
    height: 100px;
    float: left;
    background: #333333b7;
}
.menu{
    width: 800px;
    height: 100px;
    float: right;
    background: #333333;
}
.bodywrap{
    width: 1200px;
    height: 500px;
    float: left;
}
.imgslide{
    width: 1200px;
    height: 300px;
    float: left;
    background: rgba(0, 0, 128, 0.5);
}
.contents{
    width: 1200px;
    height: 200px;
    float: left;
}
.tabmenu{
    width: 400px;
    height: 200px;
    float: left;
    background: #333333a4;
}
.otherwrap{
    width: 800px;
    height: 200px;
    float: left;
}
.banner{
    width: 400px;
    height: 200px;
    float: left;
    background: #333333c0;
}
.shortcut{
    width: 400px;
    height: 200px;
    float: left;
    background: #333333e0;
}
footer{
    width: 1200px;
    height: 100px;
    float: left;
    background: rgba(0, 0, 128, 0.226);
}
.btlogo{
    width: 250px;
    height: 100px;
    float: left;
    background: orange;
}
.site{
    width: 600px;
    height: 100px;
    float: right;
}
.btmenu{
    width: 600px;
    height: 50px;
    float: right;
    background: skyblue;
}
.copy{
    width: 600px;
    height: 50px;
    float: right;
    background: hotpink;
}